@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* All variations - NO ITALIC */
/* font-family: 'Poppins', sans-serif; */

:root {
   --color-01: #E9D758;
   --color-02: #FFEBEE;
   --color-03: #FF6CB0;
   --color-04: #45C5FF;
   --color-05: #0A2463;

   --font-padrão: 'Poppins', sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

button {
   padding: 10px 20px;
   font-family: var(--font-padrão);
   font-weight: 600;
   font-size: 1rem;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   transition: all .3s;
   transform: scale(100%);
}
button:hover {
   cursor: pointer;
   transition: all .3s;
   transform: scale(105%);
}


button.contact {
   background-color: var(--color-02);
   color: var(--color-03);
}
button.track {
   background-color: var(--color-03);
   color: white;
}
button.track:hover {
   background-color: var(--color-02);
   border: 1px solid var(--color-03);
   color: var(--color-03);
   transform: scale(101%);
}
button.learn {
   background-color: transparent;
   color: var(--color-05);
   border: 1px solid var(--color-05);
   font-weight: 500;
}