@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* All variations - NO ITALIC */
/* font-family: 'Poppins', sans-serif; */

:root {
   --color-01: #E9D758;
   --color-02: #FFEBEE;
   --color-03: #FF6CB0;
   --color-04: #45C5FF;
   --color-05: #0A2463;

   --font-padrão: 'Poppins', sans-serif;

   font-size: 16px;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   width: 100%;
   min-height: 100%;
   background-color: white;
   color: black;
   font-family: var(--font-padrão);
   overflow-x: hidden;
}

header {
   width: 100%;
   height: 70px;
   position: fixed;
   top: 0;
   z-index: 3;
   background-color: #e3e3e3;
   background-color: white;
   border-radius: 20px;
   opacity: 97%;
}
header > nav {
   width: 100%;
   height: 100%;
   padding: 20px 50px 20px 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header > nav > p {
   cursor: pointer;
   transition: all .3s;
   transform: scale(100%);
}
header > nav > p:hover {
   cursor: pointer;
   transition: all .3s;
   transform: scale(105%);
}
header > nav > p > i {
   color: var(--color-03);
   font-size: 1.5rem;
}
header > nav > p > strong {
   margin-left: 5px;
   color: var(--color-05);
   font-size: 1.5rem;
   font-weight: 600;
}
header > nav > ul {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}
header > nav > ul > li,a {
   padding: 5px;
   font-size: 1.1rem;
   text-decoration: none;
   color: black;
   cursor: pointer;
   transition: all .3s;
   transform: scale(100%);
}
header > nav > ul > li:hover,a:hover {
   cursor: pointer;
   transition: all .3s;
   transform: scale(105%);
   text-decoration: underline;
}

section#home {
   margin: 70px auto 0 auto;
   width: 100%; max-width: 1400px;
   height: auto;
   padding: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
section#home > div.content {
   width: 60%;
   height: 100%;
   padding: 0 20px 0 0;
}
section#home > div.content > h1 {
   font-size: 3rem;
   line-height: 3.5rem;
   color: var(--color-05);
   text-align: left;
}
section#home > div.content > p {
   margin-top: 20px;
   font-size: 1rem;
}
section#home > div.content > div.buttons {
   margin-top: 30px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
}
section#home > div.image {
   width: 40%;
   height: 100%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}
section#home > div.image > img {
   border-radius: 50px;
}

section#newsletter {
   margin-top: 50px;
   width: 100%;
   height: auto;
   padding: 30px;
   background-color: var(--color-04);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 80px;
}
section#newsletter > div {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
section#newsletter > div > div.icon > i {
   font-size: 3.5rem;
   color: white;
}
section#newsletter > div > div.content > h2 {
   color: white;
   font-size: 1.7rem;
}
section#newsletter > div > div.content > p {
   font-size: 1rem;
}
section#newsletter > form {
   width: 350px; min-width: 350px;
}
section#newsletter > form > input {
   padding: 10px 15px;
   border: none;
   font-size: 1rem;
   background-color: white;
   border-radius: 10px;
}

/* ? Manipulação com JS */
section#newsletter > form > input.error {
   border: 2px solid red;
}
section#newsletter > form > input.success {
   border: 2px solid green;
}


section#features {
   width: 60%; min-width: 360px; max-width: 960px;
   height: auto;
   margin: auto;
   padding: 50px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
section#features > h2 {
   font-size: 2.5rem;
   color: var(--color-05);
   line-height: 3.2rem;
}
section#features > p {
   font-size: 1.1rem;
}
section#features > div.checks {
   padding: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 5px;
}
section#features > div.checks > p {
   width: 100%;
}
section#features > div.checks > p > i {
   color: green;
   font-size: 1.1rem;
   margin-right: 5px;
}

footer {
   margin: 30px auto 0 auto;
   padding-bottom: 10px;
   width: 100%;
   text-align: center;
}
footer > p {
   padding: 5px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

/* section#team {
   margin: 30px auto 0 auto;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
section#team > h2 {
   font-size: 2.2rem;
   color: var(--color-05);
}
section#team > div {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
section#team > div > i {
   color: var(--color-03);
   font-size: 1.7rem;
   cursor: pointer;
   transition: all .3s;
}
section#team > div > i:hover {
   cursor: pointer;
   transition: all .3s;
   color: #ce508b;
   transform: scale(101%);
}
section#team > div > div.cards {
   width: 500px;
   height: 300px;
   background-color: transparent;
   border: 1px solid var(--color-05);
   border-radius: 20px;
   overflow: hidden;
}
section#team > div > div.cards > div.card {
   width: 100%;
   height: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
section#team > div > div.cards > div.card > img {
   width: 150px;
   border-radius: 20px;
}
section#team > div > div.cards > div.card > h3 {
   font-size: 1.5rem;
   font-weight: 600;
}
section#team > div > div.cards > div.card > p.office {
   font-size: 1.04rem;
   font-weight: 400;
} */

/* ? Manipulação com JS */
/* section#team > div > div.cards > #card2, #card3, #card4 {
   display: none;
} */



/* ////////////////////////////////////////////////////////////////////////////////////// */



/* ! Parte responsiva */
i.fa-bars, i.fa-xmark {
   display: none;
}

div.menu {
   width: 50%; min-width: 300px;
   height: 100vh;
   background-color: var(--color-04);
   color: white;
   border-radius: 20px;
   position: fixed;
   top: 70px;
   right: 0;
   z-index: 4;
   transition: all .3s;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
div.menu > nav {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
div.menu > nav > button {
   display: block;
   margin: auto;
   font-size: 1.1rem;
}
div.menu > nav > ul {
   list-style: none;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

div.menu.deactivate {
   right: -100%;
   transition: all .3s;
}

/* ? Media queries */
@media (max-width: 1050px) {
   header > nav > ul, header > nav > button {
      display: none;
   }
   header > nav > i.fa-bars, i.fa-xmark {
      color: black;
      font-size: 1.7rem;
      cursor: pointer;
      transition: all .3s;
   }
   header > nav > i.fa-bars:hover, i.fa-xmark:hover {
      transition: all .3s;
      transform: scale(103%);
   }
   header > nav > i.fa-bars {
      display: inline;
   }

   section#newsletter > div {
      gap: 0;
   }
   section#newsletter > div > div.icon > i {
      display: none;
   }
}

@media (max-width: 970px) {
   section#home > div.image {
      display: none;
   }
   section#home > div.content {
      margin-top: 20px;
      width: 90%;
      text-align: center;
      padding: 0;
   }
   section#home > div.content > h1 {
      text-align: center;
   }
   section#home > div.content > div.buttons {
      justify-content: center;
   }
}

@media (max-width: 855px) {
   section#newsletter {
      flex-direction: column;
      gap: 30px;
      text-align: center;
   }
}

@media (max-width: 770px) {
   section#features {
      width: 90%;
   }
}

@media (max-width: 474px) {
   section#home {
      padding: 50px 10px;
   }
   section#home > div.content > div.buttons {
      flex-direction: column;
   }
   section#home > div.content > div.buttons > button.learn {
      min-width: 250px;
   }
   section#features {
      width: 100%;
      padding: 50px 20px;
   }
}

@media (max-width: 400px) {
   :root {
      font-size: 14px;
   }
}